/*.mat
/*.out
/*test*
/chol*
/flow_image
/AccMoments
/CN_PSPreordered
/metric
/cluster_image
/*matlabcompare.m
/AccMomentsCompare
/clusterAllFlow
/mapflow
/CN_PSImage
/CN_PSDistanceDirect
/PSImage
/PSGrid
/PSImageV
/old
/watershed_imageV
